body { 
	background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000;
	background-color:white;
	background-origin: content-box;
}

.mainText {
    font-size: 19px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
	text-color:black;
	background-color:#FFF;
}

.mainButtons{
	/*color:#000;*/
	background-color:#fff;
}

h3,h6{
	color:#000;
}

.footer{
		background-color:#111;
		color:#FFF;
}

.data{
	background-color:#f2f2f2;
}

.panel{
	background-color:#f2f2f2;
}

.button{
	color:#000;
}

.header{
	background-color:#FFF;
	color:#000;
}